@media(max-width:950px){
    .who{
        height: auto;
        
    }

    .sec{
        padding-left: 5%;
        padding-right: 5%;
    }

    .icon-hamburguesa{
        display: block;
        color: teal;
        height: 40px;
        width: 40px;
        font-size: 20px;
        text-align: center;
        line-height: 45px;
        border-radius: 50%;
        background-color: black;
        opacity: .89;
        position: fixed;
        right: 10px;
        top: 15px;
        z-index: 3;
    }

    .img_logo{
        height: 75px;
        width: 75px;
    }

    .text_who{
        padding: 0 20px;
        padding-bottom: 0px;
        
    }

    .div_options{
        position: fixed;
        left: -100vw;
        top: 0px;
        right: 0px;
        z-index: 3;
        background-color:teal;
        opacity: .97;
        bottom: 0;
     
        
        /* display: none; */
        width: 100vw;
        transition: 1s;
    }

    .is-active{
        left:0;

    }
    .options_list{
        flex-direction: column;
        justify-content: center;
        position: absolute;
        padding-left: 0;
        left: 50%;
        right: 50%;
        top: 50%;
        bottom: 50%;
        margin: 20px 0;
        
        
    }
    nav li a{
        color: white;
        font-size: 25px;
    }

    nav li a:hover{
        border-color: white
        ;
        color: white;
    }
    
    .option_nav{
        margin-bottom: 40px;
        color: white;
        
        
       
        
    }
    .servicios{
        z-index: 2;
    }
    .nosotros_vi_mi{
        
        display: inline;
        padding-left: 5%;
        padding-right: 5%;
        
    }
    .mision{
        
        
        width: 100%;
        

    }
    .mision h3{
        margin-top: 0;
    }

    .mision p, .mision h3, .vision p, .vision h3{
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .vision{
        width: 100%;
        
    }

    .hero_text{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 20px;
    }

    .logo{
        height: 40px;
        width: 50px;
    }
    .logo_1{
        height: 25px;
        width: 50px;
    }
    .clientes{
        padding: 10%;
    }

}

@media(max-width:400px){
    .grid{
        grid-template-columns: repeat(auto-fill,325px);
        grid-gap: 15px;
    }
}
@media(max-width:780px){
    .grid{
        grid-template-columns: repeat(auto-fill,325px);
        grid-gap: 15px;
    }
}
/* @media(max-width:500px){
    .grid{
        grid-template-columns: repeat(auto-fill,300px);
        grid-gap: 15px;
    }
} */