body{
    margin: 0;
    background-color: white;
}
header{
    position: relative;
}

header::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image:  url(./assets/hero2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px) brightness(50%);;
}


.header-inside{
    position: relative;
    color: black;
    
}

.logo_principal{ 
    font-family: 'Black Ops One', cursive;
    font-size: 20px;
    color: teal;
}

.navigation_bar{
    background-color: black;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 17%;
}

.options_list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.option_nav{
    margin-left: 10px;
    margin-right: 10px;
    
    list-style: none;
    font-family: 'Work Sans', sans-serif;
    
   
    
}

#select{
    margin-left: 10px;
    margin-right: 10px;
    list-style: none;
    font-family: 'Work Sans', sans-serif;
    
    color: #008080;
    /* border: 2px solid;
    padding: 10px;
    border-radius: 6px; */
}

.icon-hamburguesa{
    display: none;
}

nav li a{
    text-decoration: none;
    color: white;
    border: 2px solid;
    border-radius: 6px;
    padding: 10px;
    border-color: transparent;

}

nav li a:hover{
    text-decoration: none;
    color: #008080;
    border: 2px solid;
    padding: 10px;
    border-radius: 6px;
}


.navigation_bar{
    -webkit-box-shadow: 10px 10px 30px -20px black;
    box-shadow:  10px 10px 30px -20px black;

}



.hero{
    
    width: 100%;
    height: 800px;
    text-align: center;
    justify-items: center;
}

.logo_big{
    font-family: 'Black Ops One', cursive;
    font-size: 70px;
    color: teal;
    padding-top: 100px;
    padding-bottom: 0;
   
}

.hero_text{

    color: whitesmoke;
    font-family: 'Gotu', sans-serif;    
    font-size: 22px;
    margin-top: 0px;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 35px;
    
}

.hero_text strong{
    color: #00CCCC;
    
}
.sec{
    background-color: rgb(245, 245, 245);
    padding: 50px 15%;
    
}

.who{
    
    height: auto;
    padding-bottom: 20px;
    
    
}

.rectangle{
    
    background-color: white;
    height: 100%;
    border-radius: 3px;
    border: #eaeaea .5px solid;
    padding: 0 5%;
    
  
}
.mivi{
    font-family: 'Gotu', sans-serif;    

}

.title_who{
    font-family: 'Gotu', sans-serif;    
    text-align: center;
    font-size: 20px;
    padding: 10px;
    padding-bottom: 0;
    margin-bottom: 0;
    color: #008080;
}

.text_who{
    
    padding-bottom: 20px;
    
    
    /* background-color: tomato; */
}

.parrafo{
    text-align: justify;
    font-family: 'Gotu', sans-serif;  
    line-height: 25px; 
    
}

.nosotros_vi_mi{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.nosotros_vi_mi h3{
    font-size: 20px;
    color: #008080;
}

.mision{
    width:45%;
}
.vision{
    width: 45%;
}

.sec_clientes{
    height: auto;
    margin-bottom: 20px;
    background-color: white;
}

.clientes_text{
    text-align: center;
    font-size: 20px;
    
     
    

}

.clientes_text h2{
    margin-bottom: 15px;
}
.line{
    margin: 0 45%;
    margin-bottom: 0px;
    height: 2px;
    
    background-color: #008080;
}

.clientes_p{
    font-size: 15px;
    margin-bottom: 40px;
}

.clientes{
    padding: 0 20%;
    padding-bottom: 20px;
    flex-direction: column;
    justify-content: space-between;
}

.clientes_1{
    display: flex;
    margin-bottom: 50px;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 125px;
    height: 100px;
    filter: grayscale();
    
}

.logo:hover{
    filter: none;
}

.logo_1{
    width: 125px;
    height: 60px;
    filter: grayscale();
    
}

.logo_1:hover{
    filter: none;
}




footer{
    text-align: center;
    background-color: black;
    color: white;
    padding:10px;
    font-family: 'Gotu', sans-serif;   
    font-size: 12px;


}

.serv{
    padding: 0 5%;
}
.servicios{
    max-width: 100%;
    padding: 0 5%;
    background-color: rgb(245, 245, 245);
    margin: 0;
    position: relative;
    margin-bottom: 50px;
    font-family: 'Gotu', sans-serif;  
    

}
.tipoServicio{
    font-weight: bold;
    font-size: 20px;
   color: #008080;
}

.grid{
    
    display: grid;
    margin-top: 15px;
    grid-template-columns: repeat(auto-fill,450px);
    grid-auto-rows: 20px; 
    
    grid-gap: 20px;
    justify-content: center;
    
    

}

h2{
    text-align: center;
    font-family: 'Gotu', sans-serif;   
    font-size: 30px;
}

.servicio{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 5px 5px 0 rgb(210, 210, 210);
    
    
}

.servicio img{
    
    
    max-width: 100%;
    
   
    margin-bottom: 0;
    border-radius: 0 0 10px 10px;
    
    
    

}

.txtServ{
    margin-top: 0;
    margin-bottom: 15px;
}


